services:
  backend:
    build: ./backend
    container_name: postgresql_optimizater_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: postgresql_optimizater_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
